/* Import Google Fonts 'Josefin Sans' and 'Quicksand' with specific weights and display setting */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand:wght@300&display=swap');

/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Define styles for the body element */
body {
    background-color: rgb(25, 25, 25);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
